<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*"
			 Name="ScanmateSetup"
			 Language="1033"
			 Version="1.0.0.0"
			 Manufacturer="yannick"
			 UpgradeCode="0eeadec3-92a8-4bc6-8c67-85de3a315aae">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="yannick" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="yannick" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="Scanmate" Guid="5840a788-952c-4a9b-83b5-a7e862d2b3d1">
				<File Id="Scanmate" Name="Scanmate.exe" Source="C:\Users\Yannick\Documents\Werk\Scan programma\ScanMate\ScanMate\bin\Release\"></File>
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
